body {
    padding: 0;
    margin: 0;
    font-family: 'Cascadia Mono Light', 'Oxygen Mono', monospace, Space Mono Regular;
}
.aboutMe {
    padding: 12px 6px;
}
.introduce {
    padding: 12px 6px;
    color: grey;
}
.commandMain {
    padding-left: 6px;
    padding-right: 6px;
    height: 100%;
}
.commandInput {
    font-size: 16px;
}
.commandInput:before{
    color: #BBBBBB;
    content: "input here";
}
.commandFocus {
    font-size: 16px;
    padding-right: 16px!important;
    word-break: break-all;
}
.commandFocus:focus {
    border: none;
    outline: none;
}
.commandHistory {
    padding-left: 6px;
    padding-right: 6px;
}
.HistoryItem {
    padding-bottom: 10px;
}
a {
    color: grey;
    display: inline-block;
    position: relative;
    text-decoration: underline dotted grey;
    transition: all 0.5s;
}
a:visited {
    color:grey;
    text-decoration: underline dotted grey;
}
a:hover {
    color: black;
    padding-right: 12px;
    text-decoration: underline dotted black;
}
a:after {
    content: '»';
    position: absolute;
    opacity: 0;
    right: 0;
    transition: 0.3s;
}
a:hover:after {
    opacity: 1;
    right: 0;
}
.ls_dir {
    color: #2196F3;
}
.helpItem {
    float: left;
    width: 150px;
}
.historyItem:after {
    display: block;
    content: '.';
    clear: both;
    line-height: 0;
    visibility: hidden;
}